@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto:100,300,400,500,700,900";
/* line 2, ../sass/abstracts/placeholders/_clearfix.scss */
.grid__container::after, .grid__row::after, .card__block::after {
  content: "";
  display: table;
  clear: both;
}

/* line 1, ../sass/vendors/_normalize.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
}

/* line 21, ../sass/vendors/_normalize.scss */
body {
  margin: 0;
}

/* line 25, ../sass/vendors/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* line 40, ../sass/vendors/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/* line 47, ../sass/vendors/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 52, ../sass/vendors/_normalize.scss */
progress {
  vertical-align: baseline;
}

/* line 58, ../sass/vendors/_normalize.scss */
template,
[hidden] {
  display: none;
}

/* line 63, ../sass/vendors/_normalize.scss */
a {
  -webkit-text-decoration-skip: objects;
  background-color: transparent;
}

/* line 75, ../sass/vendors/_normalize.scss */
a:active,
a:hover {
  outline-width: 0;
}

/* line 82, ../sass/vendors/_normalize.scss */
abbr[title] {
  border-bottom: 0;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/* line 92, ../sass/vendors/_normalize.scss */
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

/* line 100, ../sass/vendors/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 106, ../sass/vendors/_normalize.scss */
h1 {
  font-size: 2em;
  margin: .67em 0;
}

/* line 113, ../sass/vendors/_normalize.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/* line 120, ../sass/vendors/_normalize.scss */
small {
  font-size: 80%;
}

/* line 124, ../sass/vendors/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 132, ../sass/vendors/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 136, ../sass/vendors/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 140, ../sass/vendors/_normalize.scss */
img {
  border-style: none;
}

/* line 144, ../sass/vendors/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 148, ../sass/vendors/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 156, ../sass/vendors/_normalize.scss */
figure {
  margin: 1em 40px;
}

/* line 160, ../sass/vendors/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/* line 166, ../sass/vendors/_normalize.scss */
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

/* line 174, ../sass/vendors/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* line 178, ../sass/vendors/_normalize.scss */
button,
input {
  overflow: visible;
}

/* line 183, ../sass/vendors/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 188, ../sass/vendors/_normalize.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/* line 195, ../sass/vendors/_normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* line 203, ../sass/vendors/_normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* line 210, ../sass/vendors/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 216, ../sass/vendors/_normalize.scss */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/* line 225, ../sass/vendors/_normalize.scss */
textarea {
  overflow: auto;
}

/* line 229, ../sass/vendors/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 235, ../sass/vendors/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 240, ../sass/vendors/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 245, ../sass/vendors/_normalize.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 250, ../sass/vendors/_normalize.scss */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/* line 255, ../sass/vendors/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* line 1, ../sass/base/_default.scss */
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 16px;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

/* line 21, ../sass/base/_default.scss */
*,
::before,
::after {
  box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}
/* line 31, ../sass/base/_default.scss */
body {
  background-color: #3A526A;
  min-height: 100%;
  color: #3d3d3d;
  font-family: "open-sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  overflow: hidden;
}

/* line 47, ../sass/base/_default.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

/* line 57, ../sass/base/_default.scss */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 62, ../sass/base/_default.scss */
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #3d3d3d;
}

/* line 68, ../sass/base/_default.scss */
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

/* line 74, ../sass/base/_default.scss */
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 81, ../sass/base/_default.scss */
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

/* line 88, ../sass/base/_default.scss */
dt {
  font-weight: bold;
}

/* line 92, ../sass/base/_default.scss */
dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

/* line 97, ../sass/base/_default.scss */
blockquote {
  margin: 0 0 1rem;
}

/* line 101, ../sass/base/_default.scss */
a {
  color: black;
  text-decoration: none;
}
/* line 105, ../sass/base/_default.scss */
a:focus, a:hover {
  border: none;
}
/* line 110, ../sass/base/_default.scss */
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 116, ../sass/base/_default.scss */
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
/* line 120, ../sass/base/_default.scss */
a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}
/* line 126, ../sass/base/_default.scss */
a:not([href]):not([tabindex]):focus {
  outline: none;
}

/* line 131, ../sass/base/_default.scss */
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

/* line 137, ../sass/base/_default.scss */
figure {
  margin: 0 0 1rem;
}

/* line 141, ../sass/base/_default.scss */
img {
  vertical-align: middle;
}

/* line 145, ../sass/base/_default.scss */
[role="button"] {
  cursor: pointer;
}

/* line 149, ../sass/base/_default.scss */
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

/* line 161, ../sass/base/_default.scss */
table {
  border-collapse: collapse;
  background-color: white;
}

/* line 166, ../sass/base/_default.scss */
caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #3d3d3d;
  text-align: left;
  caption-side: bottom;
}

/* line 174, ../sass/base/_default.scss */
th {
  text-align: left;
}

/* line 178, ../sass/base/_default.scss */
label {
  display: inline-block;
  margin-bottom: .5rem;
}

/* line 183, ../sass/base/_default.scss */
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/* line 188, ../sass/base/_default.scss */
input,
button,
select,
textarea {
  margin: 0;
  line-height: inherit;
  border-radius: 0;
}

/* line 199, ../sass/base/_default.scss */
input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
  cursor: not-allowed;
}

/* line 205, ../sass/base/_default.scss */
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

/* line 212, ../sass/base/_default.scss */
textarea {
  resize: vertical;
}

/* line 216, ../sass/base/_default.scss */
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* line 223, ../sass/base/_default.scss */
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
}

/* line 232, ../sass/base/_default.scss */
input[type="search"] {
  -webkit-appearance: none;
}

/* line 236, ../sass/base/_default.scss */
output {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5;
  color: #3d3d3d;
}

/* line 243, ../sass/base/_default.scss */
[hidden] {
  display: none !important;
}

/* line 247, ../sass/base/_default.scss */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 3, ../sass/base/_typography.scss */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: black;
}

/* line 12, ../sass/base/_typography.scss */
h1, .h1 {
  font-size: 2.5rem;
}

/* line 13, ../sass/base/_typography.scss */
h2, .h2 {
  font-size: 2rem;
}

/* line 14, ../sass/base/_typography.scss */
h3, .h3 {
  font-size: 1.75rem;
}

/* line 15, ../sass/base/_typography.scss */
h4, .h4 {
  font-size: 1.5rem;
}

/* line 16, ../sass/base/_typography.scss */
h5, .h5 {
  font-size: 1.25rem;
}

/* line 17, ../sass/base/_typography.scss */
h6, .h6 {
  font-size: 1rem;
}

/* line 19, ../sass/base/_typography.scss */
.fa {
  font-size: 1.5rem !important;
  line-height: 1.5;
}

/* line 14, ../sass/abstracts/mixins/_bem.scss */
.grid__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 544px) {
  /* line 14, ../sass/abstracts/mixins/_bem.scss */
  .grid__container {
    position: relative;
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  /* line 14, ../sass/abstracts/mixins/_bem.scss */
  .grid__container {
    position: relative;
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  /* line 14, ../sass/abstracts/mixins/_bem.scss */
  .grid__container {
    position: relative;
    max-width: 940px;
  }
}
@media (min-width: 1200px) {
  /* line 14, ../sass/abstracts/mixins/_bem.scss */
  .grid__container {
    position: relative;
    max-width: 1140px;
  }
}
/* line 22, ../sass/abstracts/mixins/_bem.scss */
.grid__container--fluid {
  max-width: none;
}
/* line 14, ../sass/abstracts/mixins/_bem.scss */
.grid__row {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}
/* line 49, ../sass/layout/_grid.scss */
.grid__column-xs-1, .grid__column-xs-2, .grid__column-xs-3, .grid__column-xs-4, .grid__column-xs-5, .grid__column-xs-6, .grid__column-xs-7, .grid__column-xs-8, .grid__column-xs-9, .grid__column-xs-10, .grid__column-xs-11, .grid__column-xs-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 61, ../sass/layout/_grid.scss */
.grid__column-xs-1 {
  float: left;
  width: 8.33333%;
}
/* line 61, ../sass/layout/_grid.scss */
.grid__column-xs-2 {
  float: left;
  width: 16.66667%;
}
/* line 61, ../sass/layout/_grid.scss */
.grid__column-xs-3 {
  float: left;
  width: 25%;
}
/* line 61, ../sass/layout/_grid.scss */
.grid__column-xs-4 {
  float: left;
  width: 33.33333%;
}
/* line 61, ../sass/layout/_grid.scss */
.grid__column-xs-5 {
  float: left;
  width: 41.66667%;
}
/* line 61, ../sass/layout/_grid.scss */
.grid__column-xs-6 {
  float: left;
  width: 50%;
}
/* line 61, ../sass/layout/_grid.scss */
.grid__column-xs-7 {
  float: left;
  width: 58.33333%;
}
/* line 61, ../sass/layout/_grid.scss */
.grid__column-xs-8 {
  float: left;
  width: 66.66667%;
}
/* line 61, ../sass/layout/_grid.scss */
.grid__column-xs-9 {
  float: left;
  width: 75%;
}
/* line 61, ../sass/layout/_grid.scss */
.grid__column-xs-10 {
  float: left;
  width: 83.33333%;
}
/* line 61, ../sass/layout/_grid.scss */
.grid__column-xs-11 {
  float: left;
  width: 91.66667%;
}
/* line 61, ../sass/layout/_grid.scss */
.grid__column-xs-12 {
  float: left;
  width: 100%;
}
/* line 70, ../sass/layout/_grid.scss */
.grid__column--offset-xs-1 {
  margin-left: 8.33333%;
}
/* line 70, ../sass/layout/_grid.scss */
.grid__column--offset-xs-2 {
  margin-left: 16.66667%;
}
/* line 70, ../sass/layout/_grid.scss */
.grid__column--offset-xs-3 {
  margin-left: 25%;
}
/* line 70, ../sass/layout/_grid.scss */
.grid__column--offset-xs-4 {
  margin-left: 33.33333%;
}
/* line 70, ../sass/layout/_grid.scss */
.grid__column--offset-xs-5 {
  margin-left: 41.66667%;
}
/* line 70, ../sass/layout/_grid.scss */
.grid__column--offset-xs-6 {
  margin-left: 50%;
}
/* line 70, ../sass/layout/_grid.scss */
.grid__column--offset-xs-7 {
  margin-left: 58.33333%;
}
/* line 70, ../sass/layout/_grid.scss */
.grid__column--offset-xs-8 {
  margin-left: 66.66667%;
}
/* line 70, ../sass/layout/_grid.scss */
.grid__column--offset-xs-9 {
  margin-left: 75%;
}
/* line 70, ../sass/layout/_grid.scss */
.grid__column--offset-xs-10 {
  margin-left: 83.33333%;
}
/* line 70, ../sass/layout/_grid.scss */
.grid__column--offset-xs-11 {
  margin-left: 91.66667%;
}
/* line 79, ../sass/layout/_grid.scss */
.grid__column--push-xs-0 {
  left: auto;
}
/* line 79, ../sass/layout/_grid.scss */
.grid__column--push-xs-1 {
  left: 8.33333%;
}
/* line 79, ../sass/layout/_grid.scss */
.grid__column--push-xs-2 {
  left: 16.66667%;
}
/* line 79, ../sass/layout/_grid.scss */
.grid__column--push-xs-3 {
  left: 25%;
}
/* line 79, ../sass/layout/_grid.scss */
.grid__column--push-xs-4 {
  left: 33.33333%;
}
/* line 79, ../sass/layout/_grid.scss */
.grid__column--push-xs-5 {
  left: 41.66667%;
}
/* line 79, ../sass/layout/_grid.scss */
.grid__column--push-xs-6 {
  left: 50%;
}
/* line 79, ../sass/layout/_grid.scss */
.grid__column--push-xs-7 {
  left: 58.33333%;
}
/* line 79, ../sass/layout/_grid.scss */
.grid__column--push-xs-8 {
  left: 66.66667%;
}
/* line 79, ../sass/layout/_grid.scss */
.grid__column--push-xs-9 {
  left: 75%;
}
/* line 79, ../sass/layout/_grid.scss */
.grid__column--push-xs-10 {
  left: 83.33333%;
}
/* line 79, ../sass/layout/_grid.scss */
.grid__column--push-xs-11 {
  left: 91.66667%;
}
/* line 79, ../sass/layout/_grid.scss */
.grid__column--push-xs-12 {
  left: 100%;
}
/* line 87, ../sass/layout/_grid.scss */
.grid__column--pull-xs-0 {
  right: auto;
}
/* line 87, ../sass/layout/_grid.scss */
.grid__column--pull-xs-1 {
  right: 8.33333%;
}
/* line 87, ../sass/layout/_grid.scss */
.grid__column--pull-xs-2 {
  right: 16.66667%;
}
/* line 87, ../sass/layout/_grid.scss */
.grid__column--pull-xs-3 {
  right: 25%;
}
/* line 87, ../sass/layout/_grid.scss */
.grid__column--pull-xs-4 {
  right: 33.33333%;
}
/* line 87, ../sass/layout/_grid.scss */
.grid__column--pull-xs-5 {
  right: 41.66667%;
}
/* line 87, ../sass/layout/_grid.scss */
.grid__column--pull-xs-6 {
  right: 50%;
}
/* line 87, ../sass/layout/_grid.scss */
.grid__column--pull-xs-7 {
  right: 58.33333%;
}
/* line 87, ../sass/layout/_grid.scss */
.grid__column--pull-xs-8 {
  right: 66.66667%;
}
/* line 87, ../sass/layout/_grid.scss */
.grid__column--pull-xs-9 {
  right: 75%;
}
/* line 87, ../sass/layout/_grid.scss */
.grid__column--pull-xs-10 {
  right: 83.33333%;
}
/* line 87, ../sass/layout/_grid.scss */
.grid__column--pull-xs-11 {
  right: 91.66667%;
}
/* line 87, ../sass/layout/_grid.scss */
.grid__column--pull-xs-12 {
  right: 100%;
}
@media (min-width: 544px) {
  /* line 49, ../sass/layout/_grid.scss */
  .grid__column-sm-1, .grid__column-sm-2, .grid__column-sm-3, .grid__column-sm-4, .grid__column-sm-5, .grid__column-sm-6, .grid__column-sm-7, .grid__column-sm-8, .grid__column-sm-9, .grid__column-sm-10, .grid__column-sm-11, .grid__column-sm-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-sm-1 {
    float: left;
    width: 8.33333%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-sm-2 {
    float: left;
    width: 16.66667%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-sm-3 {
    float: left;
    width: 25%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-sm-4 {
    float: left;
    width: 33.33333%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-sm-5 {
    float: left;
    width: 41.66667%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-sm-6 {
    float: left;
    width: 50%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-sm-7 {
    float: left;
    width: 58.33333%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-sm-8 {
    float: left;
    width: 66.66667%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-sm-9 {
    float: left;
    width: 75%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-sm-10 {
    float: left;
    width: 83.33333%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-sm-11 {
    float: left;
    width: 91.66667%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-sm-12 {
    float: left;
    width: 100%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-sm-1 {
    margin-left: 8.33333%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-sm-2 {
    margin-left: 16.66667%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-sm-3 {
    margin-left: 25%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-sm-4 {
    margin-left: 33.33333%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-sm-5 {
    margin-left: 41.66667%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-sm-6 {
    margin-left: 50%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-sm-7 {
    margin-left: 58.33333%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-sm-8 {
    margin-left: 66.66667%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-sm-9 {
    margin-left: 75%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-sm-10 {
    margin-left: 83.33333%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-sm-11 {
    margin-left: 91.66667%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-sm-0 {
    left: auto;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-sm-1 {
    left: 8.33333%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-sm-2 {
    left: 16.66667%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-sm-3 {
    left: 25%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-sm-4 {
    left: 33.33333%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-sm-5 {
    left: 41.66667%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-sm-6 {
    left: 50%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-sm-7 {
    left: 58.33333%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-sm-8 {
    left: 66.66667%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-sm-9 {
    left: 75%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-sm-10 {
    left: 83.33333%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-sm-11 {
    left: 91.66667%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-sm-12 {
    left: 100%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-sm-0 {
    right: auto;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-sm-1 {
    right: 8.33333%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-sm-2 {
    right: 16.66667%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-sm-3 {
    right: 25%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-sm-4 {
    right: 33.33333%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-sm-5 {
    right: 41.66667%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-sm-6 {
    right: 50%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-sm-7 {
    right: 58.33333%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-sm-8 {
    right: 66.66667%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-sm-9 {
    right: 75%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-sm-10 {
    right: 83.33333%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-sm-11 {
    right: 91.66667%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-sm-12 {
    right: 100%;
  }
}
@media (min-width: 768px) {
  /* line 49, ../sass/layout/_grid.scss */
  .grid__column-md-1, .grid__column-md-2, .grid__column-md-3, .grid__column-md-4, .grid__column-md-5, .grid__column-md-6, .grid__column-md-7, .grid__column-md-8, .grid__column-md-9, .grid__column-md-10, .grid__column-md-11, .grid__column-md-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-md-1 {
    float: left;
    width: 8.33333%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-md-2 {
    float: left;
    width: 16.66667%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-md-3 {
    float: left;
    width: 25%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-md-4 {
    float: left;
    width: 33.33333%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-md-5 {
    float: left;
    width: 41.66667%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-md-6 {
    float: left;
    width: 50%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-md-7 {
    float: left;
    width: 58.33333%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-md-8 {
    float: left;
    width: 66.66667%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-md-9 {
    float: left;
    width: 75%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-md-10 {
    float: left;
    width: 83.33333%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-md-11 {
    float: left;
    width: 91.66667%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-md-12 {
    float: left;
    width: 100%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-md-1 {
    margin-left: 8.33333%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-md-2 {
    margin-left: 16.66667%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-md-3 {
    margin-left: 25%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-md-4 {
    margin-left: 33.33333%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-md-5 {
    margin-left: 41.66667%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-md-6 {
    margin-left: 50%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-md-7 {
    margin-left: 58.33333%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-md-8 {
    margin-left: 66.66667%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-md-9 {
    margin-left: 75%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-md-10 {
    margin-left: 83.33333%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-md-11 {
    margin-left: 91.66667%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-md-0 {
    left: auto;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-md-1 {
    left: 8.33333%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-md-2 {
    left: 16.66667%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-md-3 {
    left: 25%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-md-4 {
    left: 33.33333%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-md-5 {
    left: 41.66667%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-md-6 {
    left: 50%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-md-7 {
    left: 58.33333%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-md-8 {
    left: 66.66667%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-md-9 {
    left: 75%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-md-10 {
    left: 83.33333%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-md-11 {
    left: 91.66667%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-md-12 {
    left: 100%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-md-0 {
    right: auto;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-md-1 {
    right: 8.33333%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-md-2 {
    right: 16.66667%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-md-3 {
    right: 25%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-md-4 {
    right: 33.33333%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-md-5 {
    right: 41.66667%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-md-6 {
    right: 50%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-md-7 {
    right: 58.33333%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-md-8 {
    right: 66.66667%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-md-9 {
    right: 75%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-md-10 {
    right: 83.33333%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-md-11 {
    right: 91.66667%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-md-12 {
    right: 100%;
  }
}
@media (min-width: 992px) {
  /* line 49, ../sass/layout/_grid.scss */
  .grid__column-lg-1, .grid__column-lg-2, .grid__column-lg-3, .grid__column-lg-4, .grid__column-lg-5, .grid__column-lg-6, .grid__column-lg-7, .grid__column-lg-8, .grid__column-lg-9, .grid__column-lg-10, .grid__column-lg-11, .grid__column-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-lg-1 {
    float: left;
    width: 8.33333%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-lg-2 {
    float: left;
    width: 16.66667%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-lg-3 {
    float: left;
    width: 25%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-lg-4 {
    float: left;
    width: 33.33333%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-lg-5 {
    float: left;
    width: 41.66667%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-lg-6 {
    float: left;
    width: 50%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-lg-7 {
    float: left;
    width: 58.33333%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-lg-8 {
    float: left;
    width: 66.66667%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-lg-9 {
    float: left;
    width: 75%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-lg-10 {
    float: left;
    width: 83.33333%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-lg-11 {
    float: left;
    width: 91.66667%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-lg-12 {
    float: left;
    width: 100%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-lg-1 {
    margin-left: 8.33333%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-lg-2 {
    margin-left: 16.66667%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-lg-3 {
    margin-left: 25%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-lg-4 {
    margin-left: 33.33333%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-lg-5 {
    margin-left: 41.66667%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-lg-6 {
    margin-left: 50%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-lg-7 {
    margin-left: 58.33333%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-lg-8 {
    margin-left: 66.66667%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-lg-9 {
    margin-left: 75%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-lg-10 {
    margin-left: 83.33333%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-lg-11 {
    margin-left: 91.66667%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-lg-0 {
    left: auto;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-lg-1 {
    left: 8.33333%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-lg-2 {
    left: 16.66667%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-lg-3 {
    left: 25%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-lg-4 {
    left: 33.33333%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-lg-5 {
    left: 41.66667%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-lg-6 {
    left: 50%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-lg-7 {
    left: 58.33333%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-lg-8 {
    left: 66.66667%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-lg-9 {
    left: 75%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-lg-10 {
    left: 83.33333%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-lg-11 {
    left: 91.66667%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-lg-12 {
    left: 100%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-lg-0 {
    right: auto;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-lg-1 {
    right: 8.33333%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-lg-2 {
    right: 16.66667%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-lg-3 {
    right: 25%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-lg-4 {
    right: 33.33333%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-lg-5 {
    right: 41.66667%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-lg-6 {
    right: 50%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-lg-7 {
    right: 58.33333%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-lg-8 {
    right: 66.66667%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-lg-9 {
    right: 75%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-lg-10 {
    right: 83.33333%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-lg-11 {
    right: 91.66667%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-lg-12 {
    right: 100%;
  }
}
@media (min-width: 1200px) {
  /* line 49, ../sass/layout/_grid.scss */
  .grid__column-xl-1, .grid__column-xl-2, .grid__column-xl-3, .grid__column-xl-4, .grid__column-xl-5, .grid__column-xl-6, .grid__column-xl-7, .grid__column-xl-8, .grid__column-xl-9, .grid__column-xl-10, .grid__column-xl-11, .grid__column-xl-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-xl-1 {
    float: left;
    width: 8.33333%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-xl-2 {
    float: left;
    width: 16.66667%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-xl-3 {
    float: left;
    width: 25%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-xl-4 {
    float: left;
    width: 33.33333%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-xl-5 {
    float: left;
    width: 41.66667%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-xl-6 {
    float: left;
    width: 50%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-xl-7 {
    float: left;
    width: 58.33333%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-xl-8 {
    float: left;
    width: 66.66667%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-xl-9 {
    float: left;
    width: 75%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-xl-10 {
    float: left;
    width: 83.33333%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-xl-11 {
    float: left;
    width: 91.66667%;
  }
  /* line 61, ../sass/layout/_grid.scss */
  .grid__column-xl-12 {
    float: left;
    width: 100%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-xl-1 {
    margin-left: 8.33333%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-xl-2 {
    margin-left: 16.66667%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-xl-3 {
    margin-left: 25%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-xl-4 {
    margin-left: 33.33333%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-xl-5 {
    margin-left: 41.66667%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-xl-6 {
    margin-left: 50%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-xl-7 {
    margin-left: 58.33333%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-xl-8 {
    margin-left: 66.66667%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-xl-9 {
    margin-left: 75%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-xl-10 {
    margin-left: 83.33333%;
  }
  /* line 70, ../sass/layout/_grid.scss */
  .grid__column--offset-xl-11 {
    margin-left: 91.66667%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-xl-0 {
    left: auto;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-xl-1 {
    left: 8.33333%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-xl-2 {
    left: 16.66667%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-xl-3 {
    left: 25%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-xl-4 {
    left: 33.33333%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-xl-5 {
    left: 41.66667%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-xl-6 {
    left: 50%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-xl-7 {
    left: 58.33333%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-xl-8 {
    left: 66.66667%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-xl-9 {
    left: 75%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-xl-10 {
    left: 83.33333%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-xl-11 {
    left: 91.66667%;
  }
  /* line 79, ../sass/layout/_grid.scss */
  .grid__column--push-xl-12 {
    left: 100%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-xl-0 {
    right: auto;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-xl-1 {
    right: 8.33333%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-xl-2 {
    right: 16.66667%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-xl-3 {
    right: 25%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-xl-4 {
    right: 33.33333%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-xl-5 {
    right: 41.66667%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-xl-6 {
    right: 50%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-xl-7 {
    right: 58.33333%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-xl-8 {
    right: 66.66667%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-xl-9 {
    right: 75%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-xl-10 {
    right: 83.33333%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-xl-11 {
    right: 91.66667%;
  }
  /* line 87, ../sass/layout/_grid.scss */
  .grid__column--pull-xl-12 {
    right: 100%;
  }
}

/* line 22, ../sass/abstracts/mixins/_bem.scss */
.list--reset {
  padding-left: 0;
  list-style-type: none;
}

/* line 14, ../sass/abstracts/mixins/_bem.scss */
.form__logo {
  height: 75px;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}
/* line 14, ../sass/abstracts/mixins/_bem.scss */
.form__image {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
/* line 14, ../sass/abstracts/mixins/_bem.scss */
.form__sign-in {
  background-color: white;
  border-color: #f3f3f3;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  padding: 15px;
  position: relative;
  transform: translateY(50%);
}
/* line 38, ../sass/layout/_form.scss */
.form__sign-in .form__control[type="text"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -1px;
}
/* line 52, ../sass/layout/_form.scss */
.form__sign-in .form__control[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 10px;
}
/* line 14, ../sass/abstracts/mixins/_bem.scss */
.form__control {
  background-clip: padding-box;
  background-color: white;
  background-image: none;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px;
  color: #3d3d3d;
  display: block;
  font-size: 1rem;
  height: auto;
  line-height: 1.5;
  padding: 10px;
  position: relative;
  width: 100%;
}
/* line 22, ../sass/abstracts/mixins/_bem.scss */
.form__control--search {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  display: inline-block;
  margin-bottom: 10px;
  padding: 0;
  width: auto;
}
/* line 14, ../sass/abstracts/mixins/_bem.scss */
.form__message {
  color: #3d3d3d;
  font-size: 1rem;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  text-align: center;
  width: 100%;
}
@media (max-width: 767px) {
  /* line 14, ../sass/abstracts/mixins/_bem.scss */
  .form__message {
    font-size: 0.875rem;
  }
}
@media (max-width: 543px) {
  /* line 14, ../sass/abstracts/mixins/_bem.scss */
  .form__message {
    font-size: 0.75rem;
  }
}
/* line 22, ../sass/abstracts/mixins/_bem.scss */
.form__message--danger {
  color: #ca202b;
}

/* line 7, ../sass/abstracts/mixins/_bem.scss */
.main {
  background-color: white;
  height: 100vh;
  margin-left: 250px;
  margin-right: 120px;
  transition: margin-left .5s;
}
/* line 31, ../sass/abstracts/mixins/_bem.scss */
.main.is-enlarged {
  margin-left: 60px;
}
/* line 22, ../sass/abstracts/mixins/_bem.scss */
.main--login {
  background-color: transparent;
  margin: 0;
  padding: 15px;
  transition: margin-left 0s;
}
/* line 14, ../sass/abstracts/mixins/_bem.scss */
.main__header {
  padding-bottom: 15px;
  padding-top: 15px;
  position: relative;
  text-align: center;
  width: 100%;
}
/* line 14, ../sass/abstracts/mixins/_bem.scss */
.main__heading {
  text-transform: uppercase;
}

/* line 22, ../sass/abstracts/mixins/_bem.scss */
.image--fluid {
  display: block;
  height: auto;
  max-width: 100%;
}
/* line 22, ../sass/abstracts/mixins/_bem.scss */
.image--rounded {
  border-color: #f3f3f3;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
}

/* line 7, ../sass/abstracts/mixins/_bem.scss */
.figure {
  display: inline-block;
}
/* line 14, ../sass/abstracts/mixins/_bem.scss */
.figure__image {
  line-height: 1;
  margin-bottom: 0.5rem;
}
/* line 14, ../sass/abstracts/mixins/_bem.scss */
.figure__caption {
  color: #3d3d3d;
  font-size: 1rem;
}

/* line 7, ../sass/abstracts/mixins/_bem.scss */
.header {
  padding: 15px;
  position: fixed;
  top: 0;
  z-index: 10;
}

/* line 7, ../sass/abstracts/mixins/_bem.scss */
.navigation {
  background-color: white;
  position: fixed;
  width: 250px;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #f3f3f3;
  overflow: hidden;
  z-index: 10;
  transition: width .5s;
}
/* line 31, ../sass/abstracts/mixins/_bem.scss */
.navigation.is-ensmalled {
  width: 60px;
}
/* line 14, ../sass/abstracts/mixins/_bem.scss */
.navigation__logo {
  position: relative;
  width: 100%;
  height: 75px;
  margin: 0;
}
/* line 14, ../sass/abstracts/mixins/_bem.scss */
.navigation__image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0s, opacity .25s linear;
}
/* line 42, ../sass/layout/_navigation.scss */
.navigation__image:first-child {
  visibility: visible;
  opacity: 1;
}
/* line 47, ../sass/layout/_navigation.scss */
.navigation__image:last-child {
  visibility: hidden;
  opacity: 0;
}
/* line 53, ../sass/layout/_navigation.scss */
.navigation__image.is-ensmalled:first-child {
  visibility: hidden;
  opacity: 0;
}
/* line 58, ../sass/layout/_navigation.scss */
.navigation__image.is-ensmalled:last-child {
  visibility: visible;
  opacity: 1;
}
/* line 14, ../sass/abstracts/mixins/_bem.scss */
.navigation__list {
  position: relative;
  width: 100%;
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
/* line 31, ../sass/abstracts/mixins/_bem.scss */
.navigation__list.is-ensmalled {
  padding: 0;
}
/* line 80, ../sass/layout/_navigation.scss */
.navigation__list-item {
  position: relative;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #f3f3f3;
}
/* line 98, ../sass/layout/_navigation.scss */
.navigation__list-item:last-child {
  border: 0;
}
/* line 14, ../sass/abstracts/mixins/_bem.scss */
.navigation__link {
  display: inline-block;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity .25s linear;
}
/* line 31, ../sass/abstracts/mixins/_bem.scss */
.navigation__link.is-ensmalled {
  display: none;
  visibility: hidden;
  opacity: 0;
}
/* line 14, ../sass/abstracts/mixins/_bem.scss */
.navigation__link__container {
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
/* line 124, ../sass/layout/_navigation.scss */
.navigation__link__container:hover {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #e03d47;
}
/* line 31, ../sass/abstracts/mixins/_bem.scss */
.navigation__link__container.is-active {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #ca202b;
}

/* line 7, ../sass/abstracts/mixins/_bem.scss */
.button {
  border-color: transparent;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px;
  padding: .5rem 1rem;
  position: relative;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
@media (min-width: 992px) {
  /* line 7, ../sass/abstracts/mixins/_bem.scss */
  .button {
    border-radius: 0.3rem;
    font-size: 1.25rem;
    padding: .75rem 1.5rem;
  }
}
/* line 22, ../sass/abstracts/mixins/_bem.scss */
.button--block {
  display: block;
  width: 100%;
}
/* line 22, ../sass/abstracts/mixins/_bem.scss */
.button--primary {
  background-color: #1f64ae;
  border-color: #1f64ae;
  color: white;
}
/* line 22, ../sass/abstracts/mixins/_bem.scss */
.button--search {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  height: 26px;
  line-height: 1px;
  margin-bottom: 10px;
  margin-left: -5px;
  padding: 0 .1rem;
  top: 4px;
}
/* line 60, ../sass/components/_button.scss */
.button--search .fa {
  font-size: 25px !important;
}
/* line 14, ../sass/abstracts/mixins/_bem.scss */
.button__icon {
  position: relative;
  top: 3px;
}

/* line 7, ../sass/abstracts/mixins/_bem.scss */
.divider {
  background-color: black;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  min-height: 1px;
  position: relative;
  width: 18%;
}
/* line 14, ../sass/abstracts/mixins/_bem.scss */
.divider__block {
  display: block;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  min-height: 3px;
  position: relative;
  width: 15%;
}
/* line 22, ../sass/abstracts/mixins/_bem.scss */
.divider__block--absolute {
  left: 50%;
  margin-bottom: 0;
  margin-top: 0;
  min-height: 6px;
  min-width: 21%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* line 22, ../sass/abstracts/mixins/_bem.scss */
.divider__block--red {
  background-color: #ca202b;
}
/* line 22, ../sass/abstracts/mixins/_bem.scss */
.divider__block--blue {
  background-color: #1f64ae;
}

/* line 7, ../sass/abstracts/mixins/_bem.scss */
.card {
  background-color: white;
  border-color: transparent;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px;
  display: block;
  margin-left: 1%;
  margin-right: 1%;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 15px;
  position: relative;
  width: 23%;
}
/* line 26, ../sass/components/_card.scss */
.card:hover .card__overlay {
  display: block;
}
/* line 14, ../sass/abstracts/mixins/_bem.scss */
.card__image {
  margin-left: auto;
  margin-right: auto;
  max-height: 125px;
  max-width: 125px;
  min-height: 125px;
  min-width: 125px;
}
/* line 14, ../sass/abstracts/mixins/_bem.scss */
.card__title {
  height: 100%;
  margin-bottom: auto;
  margin-top: auto;
  max-height: 55px;
  min-height: 55px;
  text-align: center;
}
/* line 14, ../sass/abstracts/mixins/_bem.scss */
.card__text {
  color: #3d3d3d;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 70, ../sass/components/_card.scss */
.card__text:last-child {
  margin-bottom: 0;
}
/* line 14, ../sass/abstracts/mixins/_bem.scss */
.card__overlay {
  background-color: #f3f3f3;
  bottom: 0;
  display: none;
  left: 0;
  opacity: .75;
  padding: 1.25rem;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 7, ../sass/abstracts/mixins/_bem.scss */
.employee {
  transform: translateY(10%);
}
/* line 14, ../sass/abstracts/mixins/_bem.scss */
.employee__list {
  position: relative;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
/* line 14, ../sass/abstracts/mixins/_bem.scss */
.employee__box {
  transform: translateY(10%);
}
/* line 14, ../sass/abstracts/mixins/_bem.scss */
.employee__container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-color: #f3f3f3;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px;
}
/* line 22, ../sass/abstracts/mixins/_bem.scss */
.employee--image {
  max-height: 400px;
  max-width: 350px;
  min-height: 400px;
  min-width: 350px;
}
/* line 22, ../sass/abstracts/mixins/_bem.scss */
.employee--item {
  font-size: 1.5rem !important;
  line-height: 1.5;
}
/* line 14, ../sass/abstracts/mixins/_bem.scss */
.employee__text {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity .25s linear;
}
/* line 14, ../sass/abstracts/mixins/_bem.scss */
.employee__info {
  font-weight: normal;
}
