@include block(card) {
  background: {
    color: $white;
  }
  border: {
    color: $border-color;
    radius: $border-radius;
    style: $border-style;
    width: $border-width;
  }
  display: block;
  margin: {
    left: 1%;
    right: 1%;
  }
  padding: {
    bottom: 15px;
    left: 5px;
    right: 5px;
    top: 15px;
  }
  position: relative;
  width: 23%;

  &:hover {
    .card__overlay {
      display: block;
    }
  }

  @include element(image) {
    margin: {
      left: auto;
      right: auto;
    }
    max: {
      height: 125px;
      width: 125px;
    }
    min: {
      height: 125px;
      width: 125px;
    }
  }

  @include element(block) {
    @extend %clearfix;
    padding: {
      top: .5rem;
    }
  }

  @include element(title) {
    height: 100%;
    text-align: center;
  }

  @include element(text) {
    color: $grey;
    overflow: hidden;
    text: {
      align: center;
      overflow: ellipsis;
    }
    white-space: nowrap;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include element(overlay) {
    background-color: $light-grey;
    bottom: 0;
    display: none;
    left: 0;
    opacity: .75;
    padding: 1.25rem;
    position: absolute;
    right: 0;
    top: 0;
  }
}
