@include block(form) {
  @include element(logo) {
    @include modifier(photo) {
      border: {
        bottom: {
          color: $border-color;
          style: $border-style;
          width: $border-width;
        }
      }
      height: 324px;
      margin-bottom: 0;
      padding: {
        bottom: 15px;
        top: 15px;
      }
      @include media-breakpoint-down(lg) {
        height: 308px;
        padding-top: 0px;
      }
      @include media-breakpoint-down(md) {
        height: 275px;
      }

      @include media-breakpoint-down(xs) {
        height: 200px;
      }
    }

    height: 75px;
    margin: {
      bottom: 10px;
    }
    position: relative;
    width: 100%;
  }

  @include element(image) {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }

  @include element(sign-in) {
    background: {
      color: $white;
    }
    border: {
      color: $border-color;
      radius: $border-radius;
      style: $border-style;
      width: $border-width;
    }
    margin: {
      left: auto;
      right: auto;
    }
    max: {
      width: 350px;
    }
    padding: 15px;
    position: relative;
    transform: translateY(50%);

    .form__control[type="text"] {
      border: {
        bottom: {
          left: {
            radius: 0;
          }
          right: {
            radius: 0;
          }
        }
      }
      margin-bottom: -1px;
    }

    .form__control[type="password"] {
      border: {
        top: {
          left: {
            radius: 0;
          }
          right: {
            radius: 0;
          }
        }
      }
      margin: {
        bottom: 10px;
      }
    }
  }

  @include element(label) {
    @include media-breakpoint-down(lg) {
      font: {
        size: $font-size-base;
      }
    }
    @include media-breakpoint-down(sm) {
      font: {
        size: $font-size-sm;
      }
    }
    @include media-breakpoint-down(xs) {
      font: {
        size: $font-size-xs;
      }
    }

    font: {
      size: $font-size-lg;
    }
    margin-bottom: 0;
    padding: {
      bottom: $input-padding-x;
      top: $input-padding-y;
    }
  }

  @include element(control) {

    @include modifier(textarea) {
      @include media-breakpoint-between(sm, md) {
        width: 100%;
        margin-left: -15px;
      }
    }
    @include modifier(file) {
      @include media-breakpoint-down(lg) {
        font: {
          size: $font-size-base;
        }
      }
      @include media-breakpoint-down(sm) {
        font: {
          size: $font-size-sm;
        }
      }
      @include media-breakpoint-down(xs) {
        font: {
          size: $font-size-xs;
        }
      }
      display: block;
      font: {
        size: $font-size-lg;
      }
      margin-top: 240px;
      overflow: hidden;
      width: 100%;
    }

    @include modifier(standardButton){
      width: 50%;
      display: inline;
    }

    @include modifier(search) {
      border-radius: 0;
      display: inline-block;
      margin: {
        bottom: 10px;
        left: 5px;
      }
      padding: 0;
      width: auto;
    }

    @include modifier(update) {
      height: 30px;
    }

    background: {
      clip: padding-box;
      color: $white;
      image: none;
    }
    border: {
      color: $input-border-color;
      radius: $border-radius;
      style: $border-style;
      width: $border-width;
    }
    color: $grey;
    display: block;
    font: {
      size: $font-size-base;
    }
    height: auto;
    line-height: $line-height-base;
    padding: 10px;
    position: relative;
    width: 100%;

    &:hover,
    &:focus {
      border-color: $grey;
      outline: none;
    }
  }


  @include element(message) {

    @include media-breakpoint-down(sm) {
      font-size: $font-size-sm;
    }

    @include media-breakpoint-down(xs) {
      font-size: $font-size-xs;
    }

    @include modifier(danger) {
      color: $font-color-danger;
    }

    @include modifier(left) {
      margin: {
        left: 15px;
        top: 5px;
      }
      text-align: left;
    }

    color: $font-color-base;
    font: {
      size: $font-size-base;
    }
    margin-bottom: 10px;
    padding: {
      left: 15px;
      right: 15px;
    }
    position: relative;
    text-align: center;
    width: 100%;
  }

  @include element(link) {
    color: $blue;

    &:hover,
    &:focus {
      color: $dark-blue;
      text-decoration: underline;
    }
  }

  @include element(margin) {
    padding: {
      top: 15px;
    }
  }

  @include element(group) {

    @include modifier(lastRows) {
      margin-left: 15px !important;
    }

    @include media-breakpoint-between(sm,md) {
      width: 90%;
      margin-left: 10px !important;
    }

    border: {
      bottom: {
        color: $border-color;
        style: $border-style;
        width: $border-width;
      }
    }
    padding: {
      bottom: 15px;
      top: 15px;
    }
  }
}
