@include block(image) {
  @include modifier(fluid) {
    display: block;
    height: auto;
    max-width: 100%;
  }

  @include modifier(rounded) {
    border: {
      color: transparent;
      radius: 50%;
      style: $border-style;
      width: $border-width;
    }
  }
}

@include block(figure) {
  display: inline-block;

  @include element(image) {
    line-height: 1;
    margin-bottom: ($spacer-y / 2);
  }

  @include element(caption) {
    color: $grey;
    font-size: 1rem;
  }
}
