@include block(main) {

  @include media-breakpoint-down(sm) {
    	margin-right: 0;
  }

  background: {
    color: $white;
  }
  min-height: calc(100vh - 60px);
  margin: {
    left: 250px;
    right: 120px;
  }
  position: relative;
  transition: margin-left .5s;

  @include state(enlarged) {
    margin-left: 60px;
  }

  @include modifier(login) {
    background: {
      color: transparent;
    }
    margin: 0;
    padding: 15px;
    transition: margin-left 0s;
  }

  @include element(header) {
    padding-top: 15px;
    position: relative;
    text-align: center;
    width: 100%;
  }

  @include element(heading) {
    text-transform: uppercase;
  }

  @include element(text) {
    width: 80%;
    margin: {
      top: 40px;
      left: auto;
      right: auto;
    }
    text-align: center;
  }
}
