@include block(navigation) {
  background: {
    color: $white;
  }
  position: fixed;
  width: 250px;
  height: 100%;
  top: 0;
  left: 0;
  padding: {
    top: 30px;
    bottom: 30px
  }
  border: {
    right: {
      width: 1px;
      style: solid;
      color: gray;
    }
  }
  overflow-x: hidden;
  z-index: 10;
  transition: width .5s;

  @include state(ensmalled) {
    width: 60px;
  }

  @include element(logo) {
    position: relative;;
    width: 100%;
    height: 75px;
    margin: 0;
  }

  @include element(image) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: visibility 0s, opacity .25s linear;

    &:first-child {
      visibility: visible;;
      opacity: 1;
    }

    &:last-child {
      visibility: hidden;
      opacity: 0;
    }

    @include state(ensmalled) {
      &:first-child {
        visibility: hidden;
        opacity: 0;
      }

      &:last-child {
        visibility: visible;;
        opacity: 1;
      }
    }
  }

  @include element(list) {
    position: relative;
    width: 100%;
    padding: {
      left: 30px;
      right: 30px;
    }

    &-item {
      position: relative;
      padding: {
        top: 15px;
        bottom: 15px;
      }
      text: {
        align: center;
      }
      border: {
        bottom: {
          width: 1px;
          style: solid;
          color: $gray;
        }
      }

      &:first-child {
        border: {
          top: {
            width: 1px;
            style: solid;
            color: $gray;
          }
        }
      }

      &:last-child {
        border: 0;
      }
    }
  }

  @include element(link) {
      &:hover {
      border: {
        bottom: {
          width: 3px;
          style: solid;
          color: lighten($link-hover-color, 10%);
        }
      }
    }

    @include modifier(active) {
      border: {
        bottom: {
          width: 3px;
          style: solid;
          color: $link-hover-color;
        }
      }
    }
  }

  @include element(button) {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 96px;
    height: 96px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background .25s;

    &:focus {
      outline: none;
    }

    span {
      display: block;
      position: absolute;
      top: 44px;
      left: 18px;
      right: 18px;
      height: 8px;
      background: white;

      &:before,
      &:after {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 8px;
        background-color: #fff;
        content: "";
        transition: {
          duration: 0.3s, 0.3s;
          delay: 0.3s, 0s;
        }
      }

      &:before {
        top: -20px;
        transition-property: top, transform;
      }

      &:after {
        bottom: -20px;
        transition-property: bottom, transform;
      }

      @include state(active) {
        span {
          &:before,
          &:after {
            transition-delay: 0s, 0.3s;
          }

          &:before {
            top: 0;
            transform: rotate(45deg);
          }

          &:after {
            bottom: 0;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}
