@include block(navigation) {
  background: {
    color: white;
  }
  position: fixed;
  width: 50px;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 60px;
  border: {
    right: {
      width: 1px;
      style: solid;
      color: gray;
    }
  }
  overflow-x: hidden;
  z-index: 10;
  transition: 1s;

  @include state(open) {
    width: 250px;
  }
}
