@mixin _assert-ascending($map, $map-name) {
  $prev-key: null;
  $prev-num: null;
  @each $key, $num in $map {
    @if $prev-num == null {

    } @else if not comparable($prev-num, $num) {
      @warn "Potentially invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} whose unit makes it incomparable to #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    } @else if $prev-num >= $num {
      @warn "Invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    }
    $prev-key: $key;
    $prev-num: $num;
  }
}

// Colours
$blue: rgba(31, 100, 174, 1.0) !default;
$dark-blue: #3A526A !default;
$red: rgba(202, 32, 43, 1.0) !default;
$orange: rgba(254, 87, 34, 1.0) !default;
$grey: rgba(61, 61, 61, 1.0) !default;
$white: rgba(255, 255, 255, 1.0) !default;
$black: rgba(0, 0, 0, 1) !default;
$light-grey: rgba(243,243,243,1.0) !default;

// Spacing
$spacer: 1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;

// Body
$body-bg: $dark-blue !default;
$body-color: $grey !default;

// Links
$link-color: $black !default;
$link-decoration: none !default;
$link-hover-color: $red !default;
$link-hover-decoration: underline !default;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");

// Grid containers
$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 940px,
  xl: 1140px
) !default;
@include _assert-ascending($container-max-widths, "$container-max-widths");

// Grid columns
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

// Typography
$font-family-roboto: 'roboto', sans-serif !default;
$font-family-open-sans: 'open-sans', sans-serif !default;
$font-family-base: $font-family-open-sans !default;

$font-size-root: 16px !default;

$font-size-base: 1rem !default;
$font-size-lg: 1.25rem !default;
$font-size-sm: .875rem !default;
$font-size-xs: .75rem !default;

$line-height-base: 1.5 !default;
$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;

$font-color-base: $grey;
$font-color-danger: $red;
$font-color-primary: $blue;
$font-color-warning: $orange;

$headings-margin-bottom: ($spacer / 2) !default;
$headings-font-family: $font-family-roboto !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.1 !default;
$headings-color: $black !default;

$text-muted: $grey !default;

$abbr-border-color: $grey !default;

$dt-font-weight: bold !default;

// Components
$line-height-lg: (4 / 3) !default;
$line-height-sm: 1.5 !default;

$border-radius: .25rem !default;
$border-radius-lg: .3rem !default;
$border-radius-sm: .2rem !default;

$border-color: darken($light-grey, 5%) !default;
$border-style: solid !default;
$border-width: 1px !default;

// Tables
$table-cell-padding: .75rem !default;

$table-bg: $white;

// Forms
$input-border-color: rgba(0, 0, 0, .15) !default;
$input-color: $grey !default;

$cursor-disabled: not-allowed !default;

// Cards
$card-spacer-x: 1.25rem !default;
$card-spacer-y: .75rem !default;
$card-border-color: rgba(0,0,0,.125) !default;
