@include block(employee) {
  @include element(list) {
    position: relative;
    width: 100%;
  }

  @include element(box) {
    transform: translateY(10%);
  }

  @include element(container) {
    border: {
      color: $border-color;
      radius: $border-radius;
      style: $border-style;
      width: $border-width;
    }
    margin: {
      bottom: 10px;
      left: auto;
      right: auto;
    }
    position: relative;
  }

  @include modifier(image) {
    max: {
      height: 350px;
      width: 300px;
    }
    min: {
      height: 350px;
      width: 300px;
    }
  }
  @include modifier(item) {
    font: {
      size: 1.5rem !important;
    }
    line-height: $line-height-base;
  }

  @include element(text) {
    opacity: 1;
    transition: visibility 0s, opacity .25s linear;
    visibility: visible;
  }
  @include element(info) {
    display: inline-block;
    font-weight: normal;
  }
}
